
.blue {
  background-color: #2e8bcc !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.green {
  background-color: #339933 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.red {
  background-color: #e51400 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.yellow {
  background-color: #ffc40d !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.orange {
  background-color: #f39c12 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.pink {
  background-color: #e671b8 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.purple {
  background-color: #7b4f9d !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.lime {
  background-color: #8cbf26 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.magenta {
  background-color: #ff0097 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.teal {
  background-color: #00aba9 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.turquoise {
  background-color: #1abc9c !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.green-sea {
  background-color: #16a085 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.emerald {
  background-color: #2ecc71 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.nephritis {
  background-color: #27ae60 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.peter-river {
  background-color: #3498db !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.belize-hole {
  background-color: #2980b9 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.amethyst {
  background-color: #9b59b6 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.wisteria {
  background-color: #8e44ad !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.wet-asphalt {
  background-color: #34495e !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.midnight-blue {
  background-color: #2c3e50 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.sun-flower {
  background-color: #f1c40f !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.carrot {
  background-color: #e67e22 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.pumpkin {
  background-color: #d35400 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.alizarin {
  background-color: #e74c3c !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.pomegranate {
  background-color: #c0392b !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.silver {
  background-color: #bdc3c7 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.concrete {
  background-color: #95a5a6 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.asbestos {
  background-color: #7f8c8d !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.info {
  background-color: #3498db !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.danger {
  background-color: #e74c3c !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.warning {
  background-color: #f1c40f !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
.success {
  background-color: #2ecc71 !important;       color:white !important;
      font-weight:bold !important;
      padding:8px !important;     
}
